/*-----------------------------------------------------------------------------------------------767px-----------------------------------------------------------------------------------------------*/

@media screen and (max-width: 767px){

body .backgroundTxt1
{
  font-size: 1400%;
  top: 60%;
  right: -141%;
  animation: background1 8s linear infinite;
  color: var(--lightblue);
}

@keyframes background1
{
  0%
  {
    transform: translateX(0%);
  }

  100%
  {
    transform: translateX(-170%);
  }
}

body .backgroundTxt2
{
  font-size: 1000%;
  top: 20%;
  left: -101%;
  animation: background2 7.5s linear infinite;
  color: var(--bluefaded);
}

@keyframes background2
{
  0%
  {
    transform: translateX(0%);
  }

  100%
  {
    transform: translateX(200%);
  }
}

body .backgroundTxt3
{
  font-size: 300%;
  top: 0%;
  right: -30%;
  animation: background3 6s linear infinite;
  color: var(--lightblue);
}

@keyframes background3
{
  0%
  {
    transform: translateX(0%);
  }

  100%
  {
    transform: translateX(-450%);
  }
}

body .backgroundTxt4
{
  font-size: 800%;
  top: 80%;
  left: -115%;
  animation: background4 6s linear infinite;
  color: var(--bluefaded);
}

@keyframes background4
{
  0%
  {
    transform: translateX(0%);
  }

  100%
  {
    transform: translateX(190%);
  }
}

body .backgroundTxt5
{
  font-size: 450%;
  top: 5%;
  left: -45%;
  animation: background5 6.5s linear infinite;
  color: var(--bluefaded);
}

@keyframes background5
{
  0%
  {
    transform: translateX(0%);
  }

  100%
  {
    transform: translateX(330%);
  }
}

body .backgroundTxt6
{
  font-size: 1300%;
  top: 40%;
  left: -135%;
  animation: background6 5.5s linear infinite;
  color: var(--lightblue);
}

@keyframes background6
{
  0%
  {
    transform: translateX(0%);
  }

  100%
  {
    transform: translateX(180%);
  }
}

.layer
{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0.1rem 0.2rem;
}

/*--------------------------------------------------------------------------------------------Navbar---------------------------------------------------------------------------------------------*/

.navLayer1
{
  background: var(--secondary);
  border-radius: 1rem 1rem 0rem 0rem;
  padding: 0.5rem 1rem;
  margin-bottom: 0.2rem;
}

.nav-logo
{
  width: 10rem;
}

.svg1, .svg2
{
	display: none;
}

/*------------------------------------------------------------------------------------------------Layer1-----------------------------------------------------------------------------------------*/

.ContactTxt
{
  width: 100%;
  background: var(--gradient);
  padding: 2rem;
  margin-bottom: 0.7rem;
  border-radius: 0rem 0rem 1rem 1rem;
}

.ContactTxt h1
{
  font-size: 2.7rem;
  color: var(--white);
  text-align: center;
}

.contact
{
  background: var(--blue);
  width: 100%;
  border-radius: 0rem 0rem 1rem 1rem;
  overflow: hidden;
}

.contact .contact1
{
  background: transparent;
  width: 100%;
  padding: 2rem 2rem 2rem 2rem;
}

.contact .address h1
{
  color: var(--white);
  font-size: 2.3rem;
  margin-bottom: 1rem;
}

.contact .address p
{
  color: var(--white);
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.contact .phone h1
{
  color: var(--white);
  font-size: 2.3rem;
  margin-bottom: 1rem;
}

.contact .phone p
{
  color: var(--white);
  font-size: 1.4rem;
}

.contact .phone p:nth-child(3)
{
  margin-bottom: 2rem;
}

.contact .maps 
{
  padding: 0rem;
}

.contact .maps iframe
{
  width: 100%;
  height: 100%;
}

footer
{
  background: var(--gradient2);
  border-radius: 1rem 1rem 1rem 1rem;
  height: auto;
  display: inline;
  grid-template-rows: 1fr 1fr 1fr;
}

footer .about 
{
  padding: 4rem 0rem 1rem 0rem  ;
  grid-template-rows: auto auto;
  grid-row: 1;
  width: 100%;
  justify-content: center;
}

footer .about h1
{
  color: var(--white);
  font-size: 3rem;
  grid-row: 1;
  height: 20%;
  text-align: center;
}

footer .about p
{
  color: var(--white);
  font-size: 1.4rem;
  grid-row: 2;
  height: 60%;
  text-align: center;
}

footer .support
{
  padding: 4rem 0rem 1rem 0rem;
  grid-template-rows: auto auto;
  grid-row: 2;
  width: 100%;
}

footer .support h1
{
  color: var(--white);
  font-size: 3rem;
  grid-row: 1;
  height: 20%;
  text-align: center;
}

footer .support ul
{
  text-align: center;
  font-size: 1.4rem;
  list-style: none;
}

footer .support ul li a
{
  color: var(--white);
  text-decoration: none;
}

footer .support ul li:hover
{
  transform: scale(1.3);
  transition-duration: 0.5s;
}

footer .support ul li:not(:hover)
{
  transition-duration: 0.5s;
}

footer .support div
{
  font-size: 2rem;
  color: var(--white);
  text-align: center;
}

footer .support div ion-icon:hover
{
  transform: scale(1.4);
  transition-duration: 0.5s;
}

footer .support div ion-icon:not(:hover)
{
  transition-duration: 0.5s;
}

footer .newsletter
{
  padding: 5rem 0rem 1rem 0rem;
  grid-template-rows: auto auto auto auto;
  grid-row: 3;
  text-align: center;
}

footer .newsletter h1
{
  color: var(--white);
  font-size: 3rem;
  grid-row: 1;
  height: 20%;
  text-align: center;
}

footer .newsletter input
{
  border: none;
  color: var(--black);
  padding: 1rem 2rem;
  font-size: 1.5rem;
  width: 80%;
  border-radius: 1rem;
  grid-row: 2;
  margin-bottom: 2rem;
}

footer .newsletter p 
{
  font-size: 1.5rem;
  color: var(--white);
  grid-row: 4;
  height: 10%;
}

footer .newsletter button
{
  font-size: 1.5rem;
  color: var(--blue);
  padding: 1rem 0rem;
  width: 60%;
  border: none;
  border-radius: 1rem;  
}

footer .newsletter button:hover
{
  color: var(--white);
  background: var(--secondary);
  transition-duration: 0.5s;
}

footer .newsletter button:not(:hover)
{
  transition-duration: 0.5s;
}
}

/*-----------------------------------------------------------------------------------------------767px-----------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------768px to 991px-------------------------------------------------------------------------------------------*/

@media screen and (min-width: 768px) and (max-width: 991px){

body .backgroundTxt1
{
  font-size: 1800%;
  top: 60%;
  right: -150%;
  animation: background1 9s linear infinite;
  color: var(--lightblue);
}

@keyframes background1
{
  0%
  {
    transform: translateX(0%);
  }

  100%
  {
    transform: translateX(-230%);
  }
}

body .backgroundTxt2
{
  font-size: 1300%;
  top: 20%;
  left: -100%;
  animation: background2 8.5s linear infinite;
  color: var(--bluefaded);
}

@keyframes background2
{
  0%
  {
    transform: translateX(0%);
  }

  100%
  {
    transform: translateX(300%);
  }
}

body .backgroundTxt3
{
  font-size: 350%;
  top: 0%;
  right: -30%;
  animation: background3 7s linear infinite;
  color: var(--lightblue);
}

@keyframes background3
{
  0%
  {
    transform: translateX(0%);
  }

  100%
  {
    transform: translateX(-700%);
  }
}

body .backgroundTxt4
{
  font-size: 1000%;
  top: 75%;
  left: -76%;
  animation: background4 7s linear infinite;
  color: var(--bluefaded);
}

@keyframes background4
{
  0%
  {
    transform: translateX(0%);
  }

  100%
  {
    transform: translateX(300%);
  }
}

body .backgroundTxt5
{
  font-size: 500%;
  top: 5%;
  left: -40%;
  animation: background5 7.5s linear infinite;
  color: var(--bluefaded);
}

@keyframes background5
{
  0%
  {
    transform: translateX(0%);
  }

  100%
  {
    transform: translateX(500%);
  }
}

body .backgroundTxt6
{
  font-size: 1250%;
  top: 40%;
  left: -110%;
  animation: background6 6.5s linear infinite;
  color: var(--lightblue);
}

@keyframes background6
{
  0%
  {
    transform: translateX(0%);
  }

  100%
  {
    transform: translateX(300%);
  }
}

.layer
{
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0.5rem 1rem;
}

/*-------------------------------------------------------------------------------------------------Navbar---------------------------------------------------------------------------------------*/

.navLayer1
{
  background: var(--secondary);
  border-radius: 1rem 1rem 0rem 0rem;
  padding: 0.5rem 7rem;
}

.nav-logo
{
  width: 10rem;
}

.nav-link
{
  color: var(--white);
  font-weight: 700;
  font-size: 1.4rem;
  letter-spacing: 0.2em;
  margin: 0rem 0rem 0rem 3rem;
}

.nav-link:hover
{
  color: var(--blue);
  transition-duration: 0.5s;
}

.svg1
{
  display: none;
}

.svg2
{
  display: none;
}

/*--------------------------------------------------------------------------------------------------Layer1-------------------------------------------------------------------------------------*/

footer
{
  background: var(--gradient2);
  border-radius: 0rem 0rem 1rem 1rem;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

footer .about 
{
  padding: 2rem 0rem 1rem 2rem  ;
  grid-template-rows: auto auto;
  grid-column: 1;
  width: 100%;
  justify-content: center;
}

footer .about h1
{
  font-size: 2.7rem;
}

footer .about p
{
  font-size: 1.5rem;
}

footer .support
{
  padding: 2rem 1rem 1rem 1rem;
}

footer .support h1
{
  font-size: 2.7rem;
  height: 15%;
}

footer .support ul
{
  font-size: 1.5rem;
}

footer .support div
{
  font-size: 2.2rem;
}

footer .newsletter
{
  padding: 2rem 2rem 1rem 0rem;
}

footer .newsletter h1
{
  font-size: 2.7rem;
  height: 15%;
}

footer .newsletter input
{
  font-size: 1.5rem;
}

footer .newsletter p 
{
  font-size: 1.5rem;
}

footer .newsletter button
{
  font-size: 1.5rem;
  width: 100%; 
}
}

/*-------------------------------------------------------------------------------------------768px to 991px-------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------992px to 1199px-------------------------------------------------------------------------------------------*/

@media screen and (min-width: 992px) and (max-width: 1199px){

body .backgroundTxt1
{
  font-size: 1800%;
  top: 60%;
  right: -150%;
  animation: background1 9.5s linear infinite;
  color: var(--lightblue);
}

@keyframes background1
{
  0%
  {
    transform: translateX(0%);
  }

  100%
  {
    transform: translateX(-260%);
  }
}

body .backgroundTxt2
{
  font-size: 1300%;
  top: 20%;
  left: -100%;
  animation: background2 8.5s linear infinite;
  color: var(--bluefaded);
}

@keyframes background2
{
  0%
  {
    transform: translateX(0%);
  }

  100%
  {
    transform: translateX(300%);
  }
}

body .backgroundTxt3
{
  font-size: 350%;
  top: 0%;
  right: -30%;
  animation: background3 7s linear infinite;
  color: var(--lightblue);
}

@keyframes background3
{
  0%
  {
    transform: translateX(0%);
  }

  100%
  {
    transform: translateX(-700%);
  }
}

body .backgroundTxt4
{
  font-size: 1000%;
  top: 75%;
  left: -76%;
  animation: background4 8.5s linear infinite;
  color: var(--bluefaded);
}

@keyframes background4
{
  0%
  {
    transform: translateX(0%);
  }

  100%
  {
    transform: translateX(350%);
  }
}

body .backgroundTxt5
{
  font-size: 500%;
  top: 5%;
  left: -40%;
  animation: background5 7.5s linear infinite;
  color: var(--bluefaded);
}

@keyframes background5
{
  0%
  {
    transform: translateX(0%);
  }

  100%
  {
    transform: translateX(550%);
  }
}

body .backgroundTxt6
{
  font-size: 1250%;
  top: 40%;
  left: -110%;
  animation: background6 7s linear infinite;
  color: var(--lightblue);
}

@keyframes background6
{
  0%
  {
    transform: translateX(0%);
  }

  100%
  {
    transform: translateX(350%);
  }
}

.layer
{
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0.5rem 1rem;
}

/*-------------------------------------------------------------------------------------------------Navbar---------------------------------------------------------------------------------------*/

.navLayer1
{
  background: transparent;
  border-radius: 1rem 1rem 0rem 0rem;
  padding: 0.5rem 5rem;
  margin-bottom: 0.7rem;
}

.nav-logo
{
  width: 10rem;
}

.nav-link
{
  color: var(--white);
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  margin: 0rem 0rem 0rem 3rem;
  margin-left: 1.7rem;
}

.nav-link:hover
{
  color: var(--blue);
  transition-duration: 0.5s;
}

/*--------------------------------------------------------------------------------------------------Layer1-------------------------------------------------------------------------------------*/

footer
{
  background: var(--gradient2);
  border-radius: 0rem 0rem 1rem 1rem;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

footer .about 
{
  padding: 2rem 0rem 0rem 2rem  ;
  grid-template-rows: auto auto;
  grid-column: 1;
  width: 100%;
  justify-content: center;
}

footer .about h1
{
  font-size: 2.5rem;
  height: 15%;
}

footer .about p
{
  font-size: 1.4rem;
}

footer .support
{
  padding: 2rem 1rem 1rem 1rem;
}

footer .support h1
{
  font-size: 2.5rem;
  height: 15%;
}

footer .support ul
{
  font-size: 1.4rem;
}

footer .support div
{
  font-size: 2.4rem;
}

footer .newsletter
{
  padding: 2rem 2rem 1rem 0rem;
}

footer .newsletter h1
{
  font-size: 2.5rem;
  height: 15%;
}

footer .newsletter input
{
  font-size: 1.4rem;
}

footer .newsletter p 
{
  font-size: 1.4rem;
}

footer .newsletter button
{
  font-size: 1.4rem;
  width: 100%; 
}
}

/*-------------------------------------------------------------------------------------------992px to 1199px-------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------1200px to 1399px-------------------------------------------------------------------------------------------*/

@media screen and (min-width: 1200px) and (max-width: 1399px){

body .backgroundTxt1
{
  font-size: 1800%;
  top: 60%;
  right: -90%;
  animation: background1 9.5s linear infinite;
  color: var(--lightblue);
}

@keyframes background1
{
  0%
  {
    transform: translateX(0%);
  }

  100%
  {
    transform: translateX(-230%);
  }
}

body .backgroundTxt2
{
  font-size: 1300%;
  top: 20%;
  left: -70%;
  animation: background2 8.5s linear infinite;
  color: var(--bluefaded);
}

@keyframes background2
{
  0%
  {
    transform: translateX(0%);
  }

  100%
  {
    transform: translateX(300%);
  }
}

body .backgroundTxt3
{
  font-size: 350%;
  top: 0%;
  right: -20%;
  animation: background3 7s linear infinite;
  color: var(--lightblue);
}

@keyframes background3
{
  0%
  {
    transform: translateX(0%);
  }

  100%
  {
    transform: translateX(-700%);
  }
}

body .backgroundTxt4
{
  font-size: 1000%;
  top: 75%;
  left: -50%;
  animation: background4 8.5s linear infinite;
  color: var(--bluefaded);
}

@keyframes background4
{
  0%
  {
    transform: translateX(0%);
  }

  100%
  {
    transform: translateX(320%);
  }
}

body .backgroundTxt5
{
  font-size: 500%;
  top: 5%;
  left: -25%;
  animation: background5 7.5s linear infinite;
  color: var(--bluefaded);
}

@keyframes background5
{
  0%
  {
    transform: translateX(0%);
  }

  100%
  {
    transform: translateX(550%);
  }
}

body .backgroundTxt6
{
  font-size: 1250%;
  top: 40%;
  left: -90%;
  animation: background6 7s linear infinite;
  color: var(--lightblue);
}

@keyframes background6
{
  0%
  {
    transform: translateX(0%);
  }

  100%
  {
    transform: translateX(310%);
  }
}

.layer
{
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0.5rem 1rem;
}

/*-------------------------------------------------------------------------------------------------Navbar---------------------------------------------------------------------------------------*/

.navLayer1
{
  background: transparent;
  border-radius: 1rem 1rem 0rem 0rem;
  padding: 0.5rem 5rem;
  margin-bottom: 0.7rem;
}

.nav-logo
{
  width: 10rem;
}

.nav-link
{
  color: var(--white);
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  margin: 0rem 0rem 0rem 3rem;
  margin-left: 1.7rem;
}

.nav-link:hover
{
  color: var(--blue);
  transition-duration: 0.5s;
}

/*--------------------------------------------------------------------------------------------------Layer1-------------------------------------------------------------------------------------*/

footer
{
  background: var(--gradient2);
  border-radius: 0rem 0rem 1rem 1rem;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

footer .about 
{
  padding: 2rem 0rem 1rem 2rem  ;
  grid-template-rows: auto auto;
  grid-column: 1;
  width: 100%;
  justify-content: center;
}

footer .about h1
{
  font-size: 2.7rem;
  height: 15%;
}

footer .about p
{
  font-size: 1.4rem;
}

footer .support
{
  padding: 2rem 1rem 1rem 1rem;
}

footer .support h1
{
  font-size: 2.7rem;
  height: 15%;
}

footer .support ul
{
  font-size: 1.4rem;
}

footer .support div
{
  font-size: 2.4rem;
}

footer .newsletter
{
  padding: 2rem 2rem 1rem 0rem;
}

footer .newsletter h1
{
  font-size: 2.7rem;
  height: 15%;
}

footer .newsletter input
{
  font-size: 1.4rem;
}

footer .newsletter p 
{
  font-size: 1.4rem;
}

footer .newsletter button
{
  font-size: 1.4rem;
  width: 100%; 
}
}